.payment {
    min-height: 80vh;
}

.payment_container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    margin: 25px;
    padding: 25px;
    background-color: white;
}

.payment_address {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

.payment_title {
    margin-bottom: 10px;
}

.payment_addressInfo {
    margin-bottom: 20px;
}

.payment_addressInfo p {
    margin-bottom: 5px;
}

.payment_main {
    display: flex;
}

.payment_item {
    background-color: white;
    width: 100%;
    height: fit-content;
    margin-right: 15px;
    padding-bottom: 50px;
}

.payment_method {
    width: 100%;
    height: 40vh;
    background-color:lightblue;
}

.payment_method form{
padding: 30px;
font-weight: bolder;
}

.payment_methodContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    background-color: white;
    margin-top: 30px;
    padding: 10px;
    width: 90%;
    min-height: 10vh;
}

.payment_btn {
    background-color: yellow;
    margin-top: 40px;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bolder;
    border: 2px solid yellow;
}

/* .payment_btn:hover {
    background-color: red;
    border: 2px solid red;
} */


@media (min-width:320px) and (max-width:480px) {

    .payment_container {
        margin: 10px;
        padding: 10px;
    }

    .payment_address {
        margin-bottom: 5px;
    }

    .payment_title {
        margin-bottom: 5px;
        font-size: 12px;
    }

    .payment_addressInfo {
        margin-bottom: 5px;
    }

    .payment_addressInfo p {
        margin-bottom: 10px;
        font-size: 10px;
    }

    .payment_main {
        flex-direction: column;
    }

    .payment_item {
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 2px solid black;
    }

    .payment_method {
        width: 100%;
        }


}

@media (min-width:481px) and (max-width:768px) {

    .payment_container {
        margin: 15px;
        padding: 15px;
    }

    .payment_address {
        margin-bottom: 10px;
    }

    .payment_title {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .payment_addressInfo {
        margin-bottom: 5px;
    }

    .payment_addressInfo p {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .payment_main {
        flex-direction: column;
    }

    .payment_item {
        width: 100%;
        margin-bottom: 10px;
        border-bottom: 2px solid black;
    }

    .payment_method {
        width: 100%;
    }

}

@media (min-width:769px) and (max-width:1250px) {

    .payment_container {
        margin: 20px;
        padding: 20px;
    }


}