.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.product:hover {
    background-color: white;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        10px 10px 10px rgba(0, 0, 0, 0.5);
}

.product-info {
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
}

.product_title {
    font-size: 20px;
    font-weight: 900;
}

.product_price {
    margin-top: 10px;
}

.product_rating {
    display: flex;
    margin-top: 5px;
}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background-color: yellow;
    margin-top: 5px;
    border: 2px solid;
    padding: 5px;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.product>button:hover {
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.5),
        15px 15px 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(83, 36, 158);
    color: yellow;
}


/* ----------------- Responsive Media Queries ----------------- */


@media (min-width:320px) and (max-width:480px) {

    .product {
        margin: 0px;
        margin-bottom: 15px;
        padding: 20px;
        width: 100%;
        min-width: 100px;
    }


    .product-info {
        height: 50px;
        width: 100%;
        margin-bottom: 10px;
    }

    .product_title {
        font-size: 15px;
        font-weight: 900;
    }

    .product_price {
        margin-top: 10px;
        font-size: 12px;
    }

    .product_rating {
        margin-top: 5px;
        font-size: 12px;
    }

    .product>img {
        max-height: 100px;
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .product>button {
        margin-top: 5px;
        border: 2px solid;
        padding: 5px;
        font-size: 10px;
    }


}


@media (min-width:481px) and (max-width:768px) {


    .product {
        margin: 0px;
        margin-bottom: 15px;
        padding: 20px;
        width: 100%;
        min-width: 150px;
    }


    .product-info {
        height: 50px;
        width: 100%;
        margin-bottom: 10px;
    }

    .product_title {
        font-size: 20px;
        font-weight: 900;
    }

    .product_price {
        margin-top: 10px;
        font-size: 15px;
    }

    .product_rating {
        margin-top: 5px;
        font-size: 15px;
    }

    .product>img {
        max-height: 200px;
        width: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .product>button {
        margin-top: 5px;
        border: 2px solid;
        padding: 5px;
        font-size: 15px;
    }

}